* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  position: fixed;
  height: 8vh;
  width: 100%;
  padding: 5px 100px;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
  box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav {
  text-align: center;
}

.conteudo {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 9px;
  gap: 40px;
}

.conteudo a {
  position: relative;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

.conteudo a::before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.conteudo a:hover::before {
  width: 100%;
}

.initPage {
  
  background: url(https://static.vecteezy.com/system/resources/previews/027/102/459/non_2x/moon-shining-above-dark-forest-silhouette-serene-outdoor-night-scene-free-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudoHome {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.conteudoHome h1 {
  font-size: 100px;
}

.textoDigitando {
  font-weight: bold;
  color: #0dcaf0;
}

.container a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  margin-right: 20px;
}


@keyframes animate {
  to{
    transform: translateY(20px);
  }
}

.aboutPage {
  color: white;
  height: 400px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://static.vecteezy.com/system/resources/previews/027/102/459/non_2x/moon-shining-above-dark-forest-silhouette-serene-outdoor-night-scene-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutText {
  width: 1000px;
}

.skillsPage {
  width: 100%;
  height: 290px;
  background: #010101;
  text-align: center;
  color: rgb(255, 255, 255);
}

.skillsPage h1 {
  padding: 20px;
}

.banner-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 10rem;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.images {
  display: flex;
  text-align: center;
  animation: swipe 8000ms linear infinite;
}

.images img {
  max-width: 120px;
  padding: 0 10px;
  object-fit: cover;
  transition: transform .2s;
}

.images img:hover {
  transform: scale(1.1)
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%)
  }
}

.projectsPage {
  width: 100%;
  height: 2100px;
  background: #010101;
  text-align: center;
  color: white;
}

.projectsPage h1 {
  padding: 50px;
}

.box {
  position: relative;
  width: 100%;
  height: 400px;
  background: repeating-conic-gradient(from var(--a), aqua 0%, aqua 5%, transparent 5%, transparent 40%, aqua 50%);
  animation: animate 4s linear infinite;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0%{
    --a: 0deg;
  }
  100%{
    --a: 360deg
  }
}


.contentBox {
  width: 99%;
  height: 99%;
  background: #000;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectDesc {
  padding: 20px;
  min-width: 566px;
  min-height: 275px;
}

.contentThumb img{
  padding: 20px;
  height: 320px;
  border-radius: 30px;
  transition: 1s;
}

.contentThumb img:hover {
  scale: 1.05;
}

.contactPage {
  height: 1100px;
  width: auto;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://static.vecteezy.com/system/resources/previews/027/102/459/non_2x/moon-shining-above-dark-forest-silhouette-serene-outdoor-night-scene-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contactContainer {
  background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
  border-radius: 20px;
  box-shadow: 10px 12px 32px 10px rgba(0,0,0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 600px;
  height: 600px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentForm input, textarea {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}

.contentForm button {
  margin-top: 10px;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 20px;
}

.projectDesc a{
  height: 48px;
  font-size: 20px;
  width: 148px;
  color: #0dcaf0;
  
}

.skillsUtils img{
  width: 48px;
  height: 48px;
  margin: 10px 10px;
}

.icons {
  position: absolute;
  font-size: 38px;
  cursor: pointer;
  display: none;
  right: 5%;
  margin-bottom: 10px;
}

.icons button {
  background: none;
  border: none;
  color: white;
}

.active {
  background: black;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .contentBox {
    display: flex;
  }
  .contentThumb img{
    padding: 20px;
    height: 200px;
    border-radius: 30px;
    transition: 1s;
  }

  .projectDesc {
    padding: 10px;
    font-size: 5px;
  }

  .projectDesc h4 {
    font-size: 20px;
  }

  .projectDesc h5 {
    font-size: 15px;
  }
}

@media (max-width: 990px) {

  .header h4{
    font-size: 14px;
    margin-top: 8px;
  }



  .box {
    height: 600px;
  }

  .projectsPage {
    height: 2800px;
  }

  .contentBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contentThumb img{
    padding: 20px;
    height: 250px;
    border-radius: 30px;
    transition: 1s;
  }

  .projectDesc {
    padding: 10px;
    font-size: 5px;
    height: 200px;
  }

  .projectDesc h4 {
    font-size: 20px;
  }

  .projectDesc h5 {
    font-size: 15px;
  }
}

@media (max-width: 882px) {
  .icons {
    display: block;
  }

  .header {
    border-radius: 0px;
    background: black;
  }

  .conteudo {
    display: none;
  }

  .active ul {
    display: block;
  }

  .active li {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    text-align: center; 
  }
}

@media (max-width: 565px) {
  .box {
    margin: 0 auto;
    width: 90%;
  }

  .contentThumb img{
    height: 200px;
  }

  .projectDesc {
    min-width: 200px;
    min-height: 275px;
  }

  .projectDesc h4 {
    font-size: 15px;
  }

  .projectDesc h5 {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  a {
    max-width: 100px;
    margin-right: 0px;
  }

  .contentThumb img{
    height: 150px;
  }

  .projectDesc h5 {
    font-size: 12px;
  }
}